@media screen and (max-width: 992px) {
  #technology {
    background-image: none;
  }

  #services {
    background-image: none;
  }

  #pricing {
    background-image: none;
  }

  a.navbar-brand.logo {
    background: #fff !important;
    max-width: 70px;
    border-radius: 50%;
    height: 70px;
    position: absolute;
    box-shadow: 0px 0px 5px #aeaeae;
    top: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 9;
  }

  .navbar {
    height: 100%;
  }

  /* .navbar-collapse {
  } */
}

/* @media screen and (min-width:768px) and (max-width:992px) {
  .carousel-inner {
    height: 200vh;
  }
} */

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }

  .posi {
    width: 100%;
  }

  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }

  .sliderImg {
    display: none;
  }

  .sliderImg img {
    position: static;
  }

  .slide-content {
    position: static;
    padding: 40px 5px;
    text-align: center;
    margin: auto;
  }

  .slide {
    padding: 0 15px 0 70px;
  }
  .mern-content {
    margin: 0;
  }

  .seperate-row .row:nth-child(2),
  .seperate-row .row:nth-child(3),
  .seperate-row .row:nth-child(4) {
    margin-top: 20px;
  }

  .mern-carousel .carousel-indicators {
    flex-direction: column;
    right: 0px;
    left: auto;
    position: absolute;
    top: auto;
    display: flex;
    margin: 0;
    bottom: 310px;
  }
  /* .carousel-inner {
    height: auto;
  } */

  /* a.navbar-brand.logo {
    background: #fff !important;
    max-width: 70px;
    border-radius: 50%;
    height: 70px;
    position: absolute;
    box-shadow: 0px 0px 5px #aeaeae;
    top: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 9;
  } */

  /* .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 3px;
    border-radius: 1px;
    background-color: #fff !important;
  }

  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover {
    background-color: #F9096E;
  } */

  .member {
    margin-top: 90px;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    font-size: 150px;
  }
}

@media screen and (max-width: 767px) {
  .filters ul {
    display: flex;
    overflow-x: scroll;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-y: hidden;
  }

  .stack-card .align {
    margin-top: 0px;
  }

  .stack-card .top {
    margin-top: 110px;
  }

  .stack-card .card {
    width: 200px;
    height: 200px;
    line-height: 20;
  }
}

@media screen and (min-width: 767px) {
  .navbar-nav ul {
    margin: 0 !important;
  }
}

@media screen and (min-width: 767px) {
  .navbar-nav li a {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
}

/* @media screen and (max-width:1400px) {
  .member .our-team {
    left: 25%;
  }
}

@media screen and (max-width:992px) {
  .member .our-team {
    left: 20% !important;
  }
}

@media screen and (max-width:768px) {
  .member .our-team {
    left: 30% !important;
  }
}

@media screen and (max-width:1200px) {
  .member .our-team {
    left: 30%;
  }
} */
